<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.servyou.gswork.mapper.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.servyou.gswork.po.Question">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="im_number" jdbcType="VARCHAR" property="imNumber" />
    <result column="rm_number" jdbcType="VARCHAR" property="rmNumber" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="lrry" jdbcType="VARCHAR" property="lrry" />
    <result column="lrrq" jdbcType="TIMESTAMP" property="lrrq" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, im_number, rm_number, title, lrry, lrrq, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.servyou.gswork.po.Question">
    insert into question (id, im_number, rm_number, 
      title, lrry, lrrq, 
      status)
    values (#{id,jdbcType=INTEGER}, #{imNumber,jdbcType=VARCHAR}, #{rmNumber,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{lrry,jdbcType=VARCHAR}, #{lrrq,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.servyou.gswork.po.Question">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imNumber != null">
        im_number,
      </if>
      <if test="rmNumber != null">
        rm_number,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="lrry != null">
        lrry,
      </if>
      <if test="lrrq != null">
        lrrq,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imNumber != null">
        #{imNumber,jdbcType=VARCHAR},
      </if>
      <if test="rmNumber != null">
        #{rmNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="lrry != null">
        #{lrry,jdbcType=VARCHAR},
      </if>
      <if test="lrrq != null">
        #{lrrq,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.servyou.gswork.po.Question">
    update question
    <set>
      <if test="imNumber != null">
        im_number = #{imNumber,jdbcType=VARCHAR},
      </if>
      <if test="rmNumber != null">
        rm_number = #{rmNumber,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="lrry != null">
        lrry = #{lrry,jdbcType=VARCHAR},
      </if>
      <if test="lrrq != null">
        lrrq = #{lrrq,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.servyou.gswork.po.Question">
    update question
    set im_number = #{imNumber,jdbcType=VARCHAR},
      rm_number = #{rmNumber,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      lrry = #{lrry,jdbcType=VARCHAR},
      lrrq = #{lrrq,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByIm" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from question
    where im_number = #{im_number,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from question
  </select>
</mapper>